* {
  padding: 0%;
  margin: 0%;
  font-family: "Orbitron", sans-serif;
}
body {
  background-image: url("images/background.gif");
  background-size: cover;
}
nav {
  height: 10vh;
}
main {
  height: 70vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.player {
  width: 50vw;
  padding-bottom: 5vh;
}

.player img {
  width: 20vw;
}

@keyframes spaceShip {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(30vw);
	}
  100% {
		transform: translateX(0vw);
	}
}

.player-inGame {
  animation: spaceShip 2s ease-in-out 0s 1 normal forwards;
}

.alien-laser, .player-laser {
  display: none;
}


.player-laser-hit {
  /* display: none; */
  z-index: 5;
  position: absolute;
  left: 16vw;
  bottom: 30vh;
  display: block;
  animation: spaceShip 2s ease-in-out 0s 1 normal forwards;
}

.alien-laser-hit {
  z-index: 7;
  position: absolute;
  right: 16vw;
  top: 33.65vh;
  display: block;
  animation: alienShip 2s ease-in-out 0s 1 normal forwards;
}

.player-laser-miss {
  /* display: none; */
  z-index: 5;
  position: absolute;
  left: 16vw;
  bottom: 30vh;
  display: block!important;
  animation: spaceShip 2s ease-in-out 0s 1 normal forwards;
}
@keyframes alienShip-miss {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-30vw);
	}
  100% {
		transform: translateX(0);
	}
}
.alien-laser-miss {
  z-index: 7;
  position: absolute;
  right: 16vw;
  top: 33.65vh;
  display: block;
  animation: alienShip 2s ease-in-out 0s 1 normal forwards;

}

@keyframes alienShip {
	0% {
		transform: translateX(0);
	}

	50% {
		transform: translateX(-30vw);
	}
  100% {
		transform: translateX(0);
	}
}
.alien-inGame {
  animation: alienShip 2s ease-in-out 0s 1 normal forwards;
}

.aliens {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50vw;
}

.aliens img {
  width: 20vw;
}

.aliens .other-aliens img {
  width: 5vw;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  width: 100vw;
  -webkit-box-shadow: -10px -10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -10px -10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: -10px -10px 5px 0px rgba(0, 0, 0, 0.75);
}
.alien-container {
    width: 33vw;
    color: rgb(152, 4, 4)
}
.player-attack {
  display: flex;
  flex-flow: column wrap;
  width: 33vw;
  align-items: center;
}
.player-container {
    width: 33vw;
    color:aqua;
}
/*added through JS*/
.player-attack-inGame {
    color: rgb(131, 206, 18);;
    background-color: rgba(0, 0, 0, 0.55);
    display: flex;
    flex-flow: column wrap;
    width: 33vw;
    height: 100%;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,1);
    


}
#player-attack-btn {
  padding: 0.5vh 1vw;
}

h4 {
  color: rgb(131, 206, 18);
  font-weight: bolder;
}
